<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear customer,</p>
    <p>&nsp;&nsp;Thank you for shopping with <b><a href="<%=@url%>">Jungle</a></b>!</p>
    <br>
      <table>
      <thead>
        <tr>
          <th colspan="2">Product</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td>
              <%= image_tag item.product.image.tiny %>
            </td>
            <td>
              <h4><%= item.product.name %></h4>
              <br>
              <span><%= item.product.description %></span>
            </td>
            <td>
              <%= item.product.price %>
            </td>
            <td>
              <%= item.quantity %>
            </td>
            <td>
              <%= item.total_price %>
            </td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4">
            TOTAL:
          </th>
          <th>
            <%= @order.total %>
          </th>
        </tr>
      </tfoot>
    </table>
  </body>
</html>