<section class="review">
  <% user = User.find review.user_id %>
  <% rating = review.rating %>
  <span class="review-rating">
    <% (1..5).each do |num| %>
      <% if num <= rating %>
        <span class="glyphicon glyphicon-star"></span>
      <% else %>
        <span class="glyphicon glyphicon-star-empty"></span>
      <% end %>
    <% end %>
  </span>
  <span class="review-info">By <b><%= user.first_name %> <%= user.last_name%></b> on <%= review.created_at %>
    <% if current_user.id == review.user_id %>
      <%= link_to fa_icon('trash'), [product, review], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
  </span>
  <span class="review-description"><%= review.description%></span>
</section>