<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

    <% if current_user %>
      <% product_id = @product.id %>
      <div class="row">
        <%= form_for [@product, @review] do |form| %>
          <div class="form-group">
            <%= form.label :rating %>
            <%= radio_button_tag(:rating, 1) %>
            <%= label_tag(:one, "1") %>
            <%= radio_button_tag(:rating, 2) %>
            <%= label_tag(:two, " 2") %>
            <%= radio_button_tag(:rating, 3) %>
            <%= label_tag(:one, "3") %>
            <%= radio_button_tag(:rating, 4) %>
            <%= label_tag(:two, "4") %>
            <%= radio_button_tag(:rating, 5) %>
            <%= label_tag(:one, "5") %>
          </div>
          <div class="form-group">
            <%= form.label :description %>
            <%= form.text_field :description, class: 'form-control' %>
          </div>
          <%= form.submit 'Submit', class: 'btn btn-primary' %>
        <% end %>
      </div>
    <% end %>

    <div class="row">
      <% @reviews.each do |review| %>
        <%= render partial: '/products/review', locals: { review: review } %>
      <% end %>
    </div>
  </article>

</section>
